/* CSS declarations go here */
body {
  width:508px;
  margin-top: 0;
  margin:0;
  background-color: #FFFFFF;
  padding:0;
}

p {
  font-size: 0.8em;
  color:#393736;
}

h3 {
  font-size: 1em;
  line-height: 20px;
  color:#393736;
  margin-bottom: .3em
}

/************ Header section ***************/
.header {
  height: 80px;
  width: 508px;
  background-color: #222222;
  margin:auto;
}

.stripe {
  height:20px;
  width:508px;
  background-color:#47A6C9; 
}

.logo {
  height:80px;
  position:absolute;
  top:0px;
  left:221px;
}

.agendaHeader {
  background-color: #FCFCFC;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid #fff;

}

.agendaHeader h3 {
  display:inline;
  padding-left: 10px;
}

.title {
  color:#47A6C9;
  font-size: 1em;
}

.title + .title {
  margin-left: 10px;
}

/************* Agenda section *****************/

.agenda {

  border-bottom: 3px solid white;
  background-color: #FCFCFC;
  position:relative;
}

.agenda div {
  display: inline-block;
}

.session div {
  display: block;
  width:378px;
  padding-bottom: 0px;
}

.date {
  width:90px;
  padding: 5px 10px 5px 10px;
  position: absolute;
  top: 0; bottom: 0; left: 0;
}

.session {
   margin: 0 0 0 22%;
}

/********    MODAL       **********/

.modalInfo {
  color:#333;
  font-size: 1em;
  display: inline-block;
}

a {
  display:block;
  padding-bottom: .3em;
}
a, a:hover {
  text-decoration: none;
  color:#47A6C9;
  font-size: 0.9em;
}

/*.modal-header {
  background-color: #47A6C9;
}
.modal-title {
  color:#222;
}

.close {
  color:#222;
}
.close:hover {
  color:#666;
}*/